.flight-detail{
    overflow: auto;
    color: #7B7B7B;
}
.result{
    width: 100%;
    /* background: red;; */
}
.left-content{
    width: 25%;  
    float: left;
}
.middle-content{
    width:45%;
    
    float: left;
}
.right-content{
    width: 30%;
    
    float: left;
}

.md-ct-left{
    width: 10%;
    float: left;
    overflow: auto;
    /* padding-top:5%; */
    color: #58B7FF;
}
.middle-row{
    float: left;
    width: 90%;
    overflow: auto;
    margin-bottom: 10%;
}
.cl-time{
    float:left;
    margin-right: 10%;
}
.cl-airport{
    float:left;    
}

.right-ct-tic{
    width: 70%;
    float: right;
}
.right-ct-tic table{
    width: 100%;
}
.td-price{
    width: 30%;
    text-align: right;
}
.cl-1-pr{
    width: 70%;
}
#total-row{
    font-weight: bold;
}

#brand-filter{
    width: 30%;
    margin: 2% auto 2% ;
}
.brand-select{
    width:100%;
}
.icon{
    width: 8%;
    text-align: center;
    display: inline-block;
    color: #20A0FF;
}
/* .icon i{
    text-align: center;
} */
.bold{
    color: #333333;
    font-weight: 450;
}