.en-US{
    width: 80%;
    margin: 1% auto;
    border: 2px solid #99A9BF;
    border-radius: 10px;
    padding: 2%;
    height: 35vh;
}
.row-1{
    position: relative;
}
.row-1 .row-1-from{
     position: absolute;
}
.row-1 .row-1-to{
    position: absolute;
    left: 50%;
}
.sl-airp{
    width: 350px;
}
.slider-time{
    float: left;
    width: 100%;
}
.row-2{
    position: absolute;
    margin-top:10vh;
}

.en-US .demonstration{
    float: left;
}
.ip-pas{
    position: absolute;
    margin-top:20vh;
    left: 50%;
    width: 40%;
    float: left;
}
.bt-sub{
    position: absolute;
    margin-top:30vh;
    left: 35%;
}
.fm-sli{
    position: absolute;
    margin-top:20vh;
    width: 50%;
    left: 10%;
    /* background: red; */
}
.time-ran-pic{
    width: 100%;color:blue;
}

.dl{
    padding: 0 5%;
}
.dl-bt{
    position: relative;
    top:2vh;
    left:40%;
}

.horizontal-slider{
    background: red;
}
.example-thumb{
    background: #20A0FF;
}
.example-track{
    color: blue;
}